@page "/day1"
@using AdventOfCode2023.Logic
<PageTitle>Day 1</PageTitle>

<h3>Day 1: Trebuchet?!</h3>
<a href="https://adventofcode.com/2023/day/1">Puzzle Link</a>
<h4>Part 1</h4>
<p>Total @part1Total</p>

<h4>Part 2</h4>
<p>Total @part2Total</p>

@code {
    int part1Total;
    int part2Total;
    protected override void OnInitialized()
    {
        Logic.Day1 day1 = new Logic.Day1();
        part1Total = day1.FindCalibrationTotalByDigitsOnly();
        part2Total = day1.FindCalibrationTotalByDigitsAndWords();
    }
}
