@page "/day1"
<PageTitle>Day 1</PageTitle>

<h3>Day 1: Trebuchet?!</h3>
<a href="https://adventofcode.com/2023/day/1">Puzzle Link</a>
<h4>Part 1</h4>
<p>Total @_part1Total</p>

<h4>Part 2</h4>
<p>Total @_part2Total</p>

@code {
    int _part1Total;
    int _part2Total;
    protected override void OnInitialized()
    {
        var day1 = new Logic.Day1();
        _part1Total = day1.FindCalibrationTotalByDigitsOnly();
        _part2Total = day1.FindCalibrationTotalByDigitsAndWords();
    }
}
