<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdventOfCode2023</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day5">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 5
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 6
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 7
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 8
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 9
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 10
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 11
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 12
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 13
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 14
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 15
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 16
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 17
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 18
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 19
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 20
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 21
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 22
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 23
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 24
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Day1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 25
            </NavLink>
        </div>
    </nav>
</div>

